#!/usr/bin/env make

################################################################

CONTAINER_NAME=

MYSQL_DB=
MYSQL_USER=
MYSQL_PASS=
MYSQL_ROOT_PASS=
MYSQL_PORT=

#MySQL Files
CFG=
DATA=

# Import Genes/Ecotypes, Populate Gene Reads
INPUT_DIR=

# Rarefy Output
OUTPUT_DIR=

################################################################
