#!/usr/bin/env make

### Required Settings ###

CONTAINER=""

HOST_PORT=""

MYSQL_DB=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_ROOT_PASSWORD=""

### Safely leave the following to default values ###

CWD=$(shell pwd)

# Configuration file for setting up the Mysql DB
CFG="${CWD}/my.cnf"

# Location of DB internal files. If the container is killed and restarted, this will persist.
DATA="${CWD}/data"
