[mysqld]
user=root

# Buffer sizes
innodb_buffer_pool_size = 32G
innodb_buffer_pool_instances = 64
innodb_buffer_pool_chunk_size = 512M

# authentication method (for mariadb / python / dask support
#default-authentication-plugin = mysql_native_password
