[mysqld]
user=root

# Buffer sizes
innodb_buffer_pool_size = 32G
innodb_buffer_pool_instances = 64
innodb_buffer_pool_chunk_size = 512M

innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
innodb_write_io_threads = 16

# Tmp Tables
#max_heap_table_size = 1024 * 1024 * 640
#tmp_table_size      = 1024 * 1024 * 640
